
/* i could have used media query to make it responsive but i am out of time whatever best i can do i tried */
* {
    margin: 0px;
    padding: 0px;
}
body,html {
    width: 100vw;
    height: 100%;
    background-color: white;
    display: grid;
}

li {
    list-style-type: none;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}
/* css stylingof navbar */
.nav-menu {

    display: flex;
    align-items: center;
    justify-content: end;
    height: 80px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    border-radius: 5px;
    border: 1px solid black;
}

/* css styling of the content that is the second container */
.content {
    grid-column: 1/-1;


    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 40px;
}

.box {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

#box1 {
    background: linear-gradient(135deg, rgb(76 76 253), rgb(167, 9, 167));

}

img {
    height: 300px;
    width: 300px;
    border: 1px black;
}

.dabba {
    width: 30%;
    height: 30%;
    border-radius: 5px;
    background-color: rgb(31, 31, 155);
    margin: 2px;
    border: 1px black;
}

#box9 {
    background-color: red;
}

#box3 {
    height:340px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 173, 173);
    margin-top: 20px;
}